<li class="file-preview">
    <button class="file-name" dialog-id="<%= file.name %>">
        <%= file.name %>
    </button>

    <dialog class="file-info" id="<%= file.name %>">
        <button class="close-button">X</button>
        <p>Name: <%= file.name %></p>
        <p>Size: <%= (file.size / 1024).toFixed(2) %> KB</p>
        <p>Upload date: <%= file.uploadDate %></p>
        <% if (file.description) { %>
            <p>Description: <%= file.description %></p>
        <% } %>
    </dialog>

    <a href="/download/<%= file.path %>">Download</a>
</>