<article class="file-preview">
    <% if (file.mimetype.startsWith("image/")) { %>
        <img src="/<%= file.path %>" alt="<%= file.name %>" width="100" />
    <% } else { %>
    <% } %>
    <div class="file-info">
        <p>Name: <%= file.name %></p>
        <p>Mimetype: <%= file.mimetype %></p>
        <p>Size: <%= (file.size / 1024).toFixed(2) %> KB</p>
        <p>Upload date: <%= file.uploadDate %></p>
        <p>Path: <%= file.path %></p>
    </div>
</article>
